body {
    font-family:Georgia, 'Times New Roman', Times, serif
}

h1 {
    font-size: 50px;
    background-color:darkblue;
    padding: 20px;
    text-align: center;
    -webkit-text-fill-color: white;
}

.subtitle {
    font-size: 30px;
    font-weight: bold;
}

.pp {
    display: block;
    margin: 0 auto;
    width:250px;
}

.main-container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.main-container-home-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-container-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.main-container-projects-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.text-box-home {
    display: block;
    width: 500px;
    color: darkblue;
    background-color: aliceblue;
    padding:10px;
    font-size: 20px;
}

.text-box-home-2 {
    display: flex;
    flex-direction: row;
    color: darkblue;
    background-color: aliceblue;
    padding:10px;
    font-size: 20px;
    justify-content: center;
    gap: 300px;
}

.circle-text-box-home {
    display: block;
    width: 500px;
    color: darkblue;
    background-color: aliceblue;
    padding:20px;
    font-size: 25px;
    border-radius: 60px 60px 60px 60px ;
    text-align: center;
}

.text-box-projects {
    display: block;
    width: 800px;
    color: darkblue;
    background-color: aliceblue;
    padding:10px;
}


.side-image {
    width: 350px;
}

.home-image {
    width: 200px;
    justify-content: center;
}

.space {
    color: white;
}

.banner {
  height: 200px;
  background: darkblue;
  border-radius: 0 150px 150px 0;
  display: flex;
  align-items: center;
  color: white;
  font-size: 45px;
  padding: 25px;
  flex-direction: column;
  justify-content: center;
}

.list {
    font-size: 30px;
}